form{
	width: 30%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid black;
}
input{
	margin: 10px;
	width: 90%;
}
h3{
	text-align: center;
}
#login{
	display: none;
}
span{
	cursor: pointer;
	text-decoration: underline;
}